<!doctype html>
<html lang="en">

  <% include ./partials/head %>

  <body>
    <% include ./partials/nav %>
    <% include ./partials/pagination-main %>
    <% include ./partials/footer %>
  </body>
</html>